/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

/* general styling starts */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Unica One", cursive;
}

/*============= general styling ends ==========*/




/*=========== navbar section starts  ==========*/

 /*============ navbar section ends  ==========*/




 /*=========== hero section starts  ==========*/

 /*============ hero section ends  ==========*/




 /*=========== team section starts  ==========*/

 /*============ team section ends  ==========*/



 /*=========== present section starts  ==========*/

 /*============ present section ends  ==========*/




 /*=========== app section starts  ==========*/

 /*============ app section ends  ==========*/




 /*=========== pricing section starts  ==========*/

 /*============ pricing section ends  ==========*/




 /*=========== newsletter section starts  ==========*/

 /*============ newsletter section ends  ==========*/




 /*=========== footer section starts  ==========*/

 /*============ footer section ends  ==========*/